In [3]:
from sklearn import datasets
#from sklearn.impute import SimpleImputer

import tensorflow as tf
import numpy as np
import pandas as pd

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
#读取数据
train = pd.read_csv('data/jinnan_round1_train_20181227.csv')
train_x = train.iloc[:, list(range(1,43))]
train_y = train['result']

test = pd.read_csv('data/jinnan_round1_testA_20181227.csv')
test_x = train.iloc[:, list(range(1,43))]

In [6]:
#数据清洗
def clearn_data(data):
    #NAN值太多，直接删除列
    data = data.drop(['A2', 'A7', 'A8', 'B11'], axis=1)
    #fillna with mean value
    my_inputer = SimpleImputer()
    data = my_inputer.fit_transform(data[['A1','A3','A4']])
    
    return data

#特征工程
def make_feature(data):
    return data

In [7]:
train.describe()

,A1,A2,A3,A4,A6,A8,A10,A12,A13,A15,A17,A18,A19,A21,A22,A23,A27,B1,B2,B3,B6,B8,B12,B13,B14,result
count,1396.000000,42.0,1354.000000,1396.000000,1396.000000,149.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1393.000000,1396.000000,1393.000000,1396.000000,1386.000000,1394.000000,1394.000000,1396.000000,1395.000000,1395.000000,1395.000000,1396.000000,1396.000000
mean,298.853868,125.0,403.515510,705.974212,28.287751,78.818792,100.861032,102.641834,0.199907,103.829370,104.766905,0.199928,231.067335,48.707825,9.117120,5.002872,74.396848,334.452742,3.454412,3.500072,72.065186,43.709677,1020.215054,0.149419,410.403295,0.923244
std,10.130552,0.0,13.348093,53.214754,6.742765,2.683920,0.905198,0.915387,0.002524,0.963639,1.401446,0.002676,50.478071,4.976531,0.369152,0.136638,3.044490,105.120753,0.388585,0.002678,9.161986,4.338396,205.920155,0.008213,26.018410,0.030880
min,200.000000,125.0,270.000000,470.000000,17.000000,70.000000,100.000000,98.000000,0.120000,100.000000,89.000000,0.100000,100.000000,20.000000,3.500000,4.000000,45.000000,3.500000,0.150000,3.500000,40.000000,20.000000,400.000000,0.030000,40.000000,0.624000
25%,300.000000,125.0,405.000000,700.000000,24.000000,80.000000,100.000000,102.000000,0.200000,103.000000,104.000000,0.200000,200.000000,50.000000,9.000000,5.000000,73.000000,320.000000,3.500000,3.500000,65.000000,45.000000,800.000000,0.150000,400.000000,0.902000
50%,300.000000,125.0,405.000000,700.000000,29.000000,80.000000,101.000000,103.000000,0.200000,104.000000,105.000000,0.200000,200.000000,50.000000,9.000000,5.000000,73.000000,320.000000,3.500000,3.500000,78.000000,45.000000,1200.000000,0.150000,400.000000,0.925000
75%,300.000000,125.0,405.000000,700.000000,30.000000,80.000000,102.000000,103.000000,0.200000,104.000000,105.000000,0.200000,300.000000,50.000000,9.000000,5.000000,77.000000,330.000000,3.500000,3.500000,80.000000,45.000000,1200.000000,0.150000,420.000000,0.943000
max,300.000000,125.0,405.000000,980.000000,97.000000,82.000000,103.000000,107.000000,0.200000,109.000000,108.000000,0.200000,350.000000,90.000000,10.000000,10.000000,80.000000,1200.000000,3.600000,3.600000,80.000000,73.000000,1200.000000,0.150000,460.000000,1.000800

In [76]:
train

array([[300., 405., 700.],
       [300., 405., 700.],
       [300., 405., 700.],
       ...,
       [300., 405., 700.],
       [300., 405., 700.],
       [300., 405., 700.]])

In [70]:
train[['A9','A1','A5']].descr

            A9   A1        A5
0     15:30:00  300  13:30:00
1     16:00:00  300  14:00:00
2     16:00:00  300  14:00:00
3      3:00:00  300   1:30:00
4      0:00:00  300  22:00:00
5      3:30:00  300   2:00:00
6     10:00:00  300   8:00:00
7      8:00:00  300   6:00:00
8     19:00:00  300  17:30:00
9     12:30:00  300  11:00:00
10    16:00:00  300  14:00:00
11    23:00:00  300  21:00:00
12    12:30:00  300  11:00:00
13     8:00:00  300   6:00:00
14     8:00:00  300   6:00:00
15    22:30:00  300  21:00:00
16     8:00:00  300   6:00:00
17    18:00:00  300  16:00:00
18    16:00:00  300  14:00:00
19    16:00:00  300  14:00:00
20     6:30:00  300   4:30:00
21     8:00:00  300   6:00:00
22    16:00:00  300  14:00:00
23    21:00:00  300  19:30:00
24    12:30:00  300  11:00:00
25     0:00:00  300  22:00:00
26     8:00:00  300   6:00:00
27    11:30:00  300   9:30:00
28    15:00:00  300  14:00:00
29     2:30:00  300   1:00:00
...        ...  ...       ...
1366   8:00:00  300   6:00:00
1367   1:00:00  300  23:30:00
1368   2:30:00  300   1:00:00
1369  16:00:00  300  14:00:00
1370  17:30:00  300  16:00:00
1371   2:30:00  300   1:00:00
1372   8:00:00  300   6:00:00
1373   8:00:00  300   6:00:00
1374  19:30:00  300  18:00:00
1375  16:00:00  300  15:00:00
1376  16:00:00  300  14:00:00
1377   8:20:00  300   6:30:00
1378   1:00:00  300  23:30:00
1379   3:30:00  300   0:30:00
1380  14:20:00  300  12:30:00
1381  13:30:00  300  12:00:00
1382  18:00:00  300  16:00:00
1383   8:00:00  300   6:00:00
1384  16:00:00  300  14:00:00
1385  16:00:00  300  14:00:00
1386   8:00:00  300   6:00:00
1387  16:30:00  300  15:00:00
1388  16:00:00  300  14:00:00
1389   0:00:00  300  22:00:00
1390  16:00:00  300  14:00:00
1391   8:00:00  300   6:00:00
1392   0:00:00  300  22:00:00
1393  16:00:00  300  14:00:00
1394  20:00:00  300  18:00:00
1395   8:00:00  300   6:00:00

[1396 rows x 3 columns]

In [54]:
train['A3'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1366    False
1367     True
1368    False
1369    False
1370     True
1371    False
1372    False
1373    False
1374    False
1375    False
1376    False
1377    False
1378    False
1379    False
1380    False
1381    False
1382    False
1383    False
1384    False
1385    False
1386    False
1387    False
1388    False
1389    False
1390    False
1391    False
1392    False
1393    False
1394    False
1395    False
Name: A3, Length: 1396, dtype: bool